<nav>
    <% if(admin) { %>
    <ul>
        <li class="<%= path === '/admins/dashboard' ? 'active' : ''%>">
            <a href="/admins/dashboard">داشبورد</a>
        </li>
        <li class="<%= path === '/admins/manage-courses' ? 'active' : ''%>">
            <a href="/admins/manage-courses">مدیریت کلاس ها</a>
        </li>
        <li class="<%= path === '/admins/manage-teachers' ? 'active' : ''%>">
            <a href="/admins/manage-teachers">مدیریت معلمین</a>
        </li>
        <li class="<%= path === '/admins/manage-students' ? 'active' : ''%>">
            <a href="/admins/manage-students">مدیریت دانش آموزان</a>
        </li>
        <li class="<%= path === '/admins/manage-quizzes' ? 'active' : ''%>">
            <a href="/admins/manage-quizzes">مدیریت آزمون ها</a>
        </li>
    </ul>
    <% } else if (teacher) { %> <% } else if (student) { %> <% } else { %>
    <ul>
        <li class="<%= path === '/' ? 'active' : ''%>">
            <a href="/">صفحه اصلی</a>
        </li>
        <li><a href="/about">درباره ما</a></li>
    </ul>
    <% } %>

    <ul>
        <% if(isLoggedIn) { %>
        <li>
            <form action="/logout" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button type="submit">خروج</button>
            </form>
        </li>
        <% } else { %>
        <li class="<%= path === '/login' ? 'active' : ''%>">
            <a href="/login">ورود</a>
        </li>
        <li class="<%= path === '/register' ? 'active' : ''%>">
            <a href="/register">ایجاد حساب</a>
        </li>
        <% } %>
    </ul>
</nav>
