<%- include('../includes/top.ejs') %> <%- include('../includes/nav.ejs') %>

<div class="container">
    <div class="center">
        <%- include('../includes/flash.ejs') %>
        <div class="card">
            <div class="card-head">
                <h2>ورود دانش آموزان</h2>
            </div>
            <div class="card-body">
                <form action="/students/login" method="POST">
                    <div class="form-group">
                        <label for="username">نام کاربری</label>
                        <input
                            type="text"
                            class="form-control"
                            name="username"
                        />
                    </div>
                    <div class="form-group">
                        <label for="password">رمز عبور</label>
                        <input
                            type="password"
                            class="form-control"
                            name="password"
                        />
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-primary btn-block">
                        ورود
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('../includes/bottom.ejs') %>
