<%- include('../includes/top.ejs') %> <%- include('../includes/nav.ejs') %>
<div class="container">
    <h2>
        ویرایش دانش آموزان کلاس <%= course.name%> <%=
        course.teacher.first_name%> <%= course.teacher.last_name%>
    </h2>
    <form
        action="/admins/manage-courses/<%= course.id%>/edit-students"
        method="POST"
    >
        <button type="submit" class="btn btn-primary">ثبت تغییرات</button>
        <ol class="mt-2 grid grid-6">
            <% allStudents.forEach(student => { %>
            <li>
                <div class="checkbox-container">
                    <label for="student" class="ml-1"><%= student.first_name%> <%= student.last_name%></label>
                    <input type="checkbox" name="student" value="<%= student.id
                    %>" <%= course.students.map(std => std.id).includes(parseInt(student.id)) ? "checked" :
                    "" %>
                </div>
            </li>
            <% }) %>
        </ol>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
</div>

<%- include('../includes/bottom.ejs') %>
