<%- include('../includes/top.ejs') %> <%- include('../includes/nav.ejs') %>

<div class="container">
    <%- include('../includes/flash.ejs') %>
    <h2 class="mv-2">نام درس: <%= course.name %></h2>
    <h2 class="mv-1">
        نام استاد: <%= course.teacher.first_name %> <%=
        course.teacher.last_name %>
    </h2>
    <div class="mb-3" style="display: flex">
        <a
            href="/admins/manage-courses/<%= course.id%>/edit-students"
            class="btn btn-primary"
            >ویرایش دانش آموزان کلاس</a
        >
    </div>
    <h3 class="mv-4">لیست دانش آموزان</h3>
    <% if (course.students.length === 0 ) {%>
    <h3 class="mv-1">دانش آموزی در کلاس یافت نشد</h3>
    <% } else { %>
    <ol class="grid grid-6">
        <% course.students.forEach(student => { %>
        <li><%= student.first_name %> <%= student.last_name %></li>
        <% }) %>
    </ol>
    <% } %>
</div>

<%- include('../includes/bottom.ejs') %>
