<%- include('../includes/top.ejs') %> <%- include('../includes/nav.ejs') %>

<div class="container">
    <h1><%= teacher.first_name %> <%= teacher.last_name %> خوش آمدید</h1>
    <div class="grid grid-3">
        <a href="/teachers/question-pools" class="btn btn-primary">بانک سوالات</a>
        <a href="/teachers/manage-students" class="btn btn-primary">مدیریت دانش آموزان</a>
        <a href="/teachers/teachers" class="btn btn-primary">مدیریت معلمین</a>
        <a href="/teachers/quizes" class="btn btn-primary">مدیریت آزمون ها</a>
    </div>
</div>

<%- include('../includes/bottom.ejs') %>
